body{
    background:url("https://images.unsplash.com/photo-1534175507998-e5477e27c2c7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYyNzM5NTU0Ng&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
   
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}
.result{
color:white;
}